# 1. 로지스틱 회귀

## 문제 : 럭키백에 임의의 생선이 1개 들어감 
- 럭키백 속에 들어가는 생성의 확률 구하기
- 길이 , 높이, 두께, 대각선, 무게 사용 가능

# 2. 데이터 준비

In [2]:
import pandas as pd 
fish = pd.read_csv("https://bit.ly/fish_csv_data")
fish.head()

  Species  Weight  Length  Diagonal   Height   Width
0   Bream   242.0    25.4      30.0  11.5200  4.0200
1   Bream   290.0    26.3      31.2  12.4800  4.3056
2   Bream   340.0    26.5      31.1  12.3778  4.6961
3   Bream   363.0    29.0      33.5  12.7300  4.4555
4   Bream   430.0    29.0      34.0  12.4440  5.1340

## 1) 데이터 확인  및 input 데이터 만들기

In [ ]:
### 종 정보  
print(pd.unique(fish["Species"]))

['Bream' 'Roach' 'Whitefish' 'Parkki' 'Perch' 'Pike' 'Smelt']

- 종을 제외한 데이터를 input 데이터로 만듦

In [6]:
fish_input = fish[["Weight", "Length","Diagonal","Height","Width"]]
fish_input.head()

   Weight  Length  Diagonal   Height   Width
0   242.0    25.4      30.0  11.5200  4.0200
1   290.0    26.3      31.2  12.4800  4.3056
2   340.0    26.5      31.1  12.3778  4.6961
3   363.0    29.0      33.5  12.7300  4.4555
4   430.0    29.0      34.0  12.4440  5.1340

In [8]:
### 정답 데이터 만들기 
fish_target = fish["Species"]
fish_target.head()

0    Bream
1    Bream
2    Bream
3    Bream
4    Bream
Name: Species, dtype: object

## 2) 훈련/테스트 세트 나누기

In [9]:
from sklearn.model_selection import train_test_split

train_input, test_input, train_target, test_target = train_test_split(fish_input, fish_target)

## 3) 데이터 표준화 전처리

In [10]:
from sklearn.preprocessing import StandardScaler
ss =StandardScaler()
ss.fit(train_input)
train_scaled = ss.transform(train_input)
test_scaled = ss.transform(test_input)

## 4) K 최근접 이웃 분류기의 한계

- 다중 분류 :  2개 이상의 클래스가 포함된 문제

In [11]:
from sklearn.neighbors import KNeighborsClassifier
kn = KNeighborsClassifier(n_neighbors=3)
kn.fit(train_scaled,train_target)
print(f"모델 평가 (훈련) : {kn.score(train_scaled,train_target)}")
print(f"모델 평가 (검증) : {kn.score(test_scaled,test_target)}")

모델 평가 (훈련) : 0.865546218487395
모델 평가 (검증) : 0.825